{var $data = $values->{"polyweb-cz/attachment-base/ParagraphSimple"}}

<div class="row paragraphSimple">
    <div class="col">
        <div n:varname="perex"  n:editable>{$text}</div>
    </div>
</div>

{$extensionInput}
{$optionsInput}
