{var $data = $values->{"polyweb-cz/attachment-base/Heading2Simple"}}

<div class="row heading2Simple">
    <div class="col">
        <h2 n:varname="heading" n:editable>{$text}</h2>
    </div>
</div>
{$extensionInput}
{$optionsInput}
