{var $data = $values->{"polyweb-cz/attachment-base/Heading4Simple"}}

<div class="row heading4Simple">
    <div class="col">
        <h4 n:editable n:varname="heading">{$text}</h4>
    </div>
</div>
{$extensionInput}
{$optionsInput}
