{var $data = $values->{"polyweb-cz/base/Heading5Simple"}}

<div class="row heading5Simple">
    <div class="col">
        <h5 n:editable n:varname="heading">{$text}</h5>
    </div>
</div>
{$extensionInput}
{$optionsInput}
