{var $data = $values->{"polyweb-cz/attachment-base/Heading3Simple"}}

<div class="row heading3Simple">
    <div class="col">
        <h3 n:editable n:varname="heading">{$text}</h3>
    </div>
</div>
{$extensionInput}
{$optionsInput}
